DB_NAME=default
MAX_TOKEN=TOKEN
MAX_ADMINS_ID=123,456,789
GIGA_API_KEY=ABCDEFGH1235646
JWT_SECRET=RANDOM_SYMBOLS
GRAPHHOPPER_API_KEY=ABCDEFGH1235646

# Частота проверки броней для удаления
CLEAN_EVERY=1
# Удаление неподтвержденных броней существующих дольше (часов)
UNAPPROVED_TTL=3
# Удаление подтвержденных броней существующих дольше (часов)
APPROVED_TTL=24